.currentdisplay{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.animedetails{
    display: flex;
    flex-direction: row;
    height:100%;
}

.detailbox{
    flex: 1;
 
    margin: 2rem 5vw 2rem 0;
}


.characters{
    margin: 0 5vw;
    width: 100%;
    overflow-x: auto;
}

.dragcircle{
    background-color: #D84315;
    color:white;
    text-align: center;
    position:absolute;
    z-index: 999;
    display: none;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
}

.dragcircle.on{
    display: flex;
    justify-content: center;
    user-select: none;
    align-items: center;
    box-shadow: 2px 4px 6px;

}

@media only screen and (max-width:1200px){
    .animedetails{
        flex-direction: column;

    }
    .detailbox{
        margin: 1rem 5vw;
    }
 
}

@media only screen and (min-width:1200px){
    .animedetails{
        flex-direction: column;

    }
    .detailbox{
        margin: 1rem 2rem;
    }
}